

@media(max-width:800px){
	
*{padding:0px;margin:0px}

div#titlea {
    width: 377px;
}

div#title2 {
    width: 259px;
    margin-left: 0px;
}

div#menu {
    width: 491px;
    position: relative;
}

ul#manuall2 {
    margin-left: 44px;
    width: 157px;
    padding: 21px -13px;
}

div#manuall {
    margin-left: -45px;
    width: 528px;
    position: absolute;
    background: #29649e;
    margin-top: 55px;
    z-index:3;
}

div#title1 {
    margin-left: 0px;
}

div#logo {
    margin-left: -2px;
    display: block;
    overflow: hidden;
    width: 299px;
}

div#manuall {
    transform: scaley(1);
    transform-origin: top;
}

div#imgfirsta {
    padding: 0px;
    margin-top: -57px;
}

}
